MROInventory_Project/Connected Services/ServiceReference1/Notification_MRO1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Notification_Caducidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="test" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Notification_CaducidadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Notification_CaducidadSoapIn">
    <wsdl:part name="parameters" element="tns:Notification_Caducidad" />
  </wsdl:message>
  <wsdl:message name="Notification_CaducidadSoapOut">
    <wsdl:part name="parameters" element="tns:Notification_CaducidadResponse" />
  </wsdl:message>
  <wsdl:portType name="Notification_MROSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notification_Caducidad">
      <wsdl:input message="tns:Notification_CaducidadSoapIn" />
      <wsdl:output message="tns:Notification_CaducidadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Notification_MROSoap" type="tns:Notification_MROSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notification_Caducidad">
      <soap:operation soapAction="http://tempuri.org/Notification_Caducidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Notification_MROSoap12" type="tns:Notification_MROSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notification_Caducidad">
      <soap12:operation soapAction="http://tempuri.org/Notification_Caducidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Notification_MRO">
    <wsdl:port name="Notification_MROSoap" binding="tns:Notification_MROSoap">
      <soap:address location="http://192.168.1.5/Notification/Notification_MRO.asmx" />
    </wsdl:port>
    <wsdl:port name="Notification_MROSoap12" binding="tns:Notification_MROSoap12">
      <soap12:address location="http://192.168.1.5/Notification/Notification_MRO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>